.overlay {
	position: fixed;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.87);
	width: 100%;
	z-index: 2;
	left: 0;
	top: 0;
	transition-duration: 0.3s;
	display: none;
}

.overlay-active {
	display: none;
}